* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: rgb(170, 207, 212);
    color: rgb(70, 142, 183)
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
    background: linear-gradient(90deg, #43c7c2, #12327e);
    position: sticky;
   
    z-index: 100;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
  
}

.pages {
    
    display: flex;
    gap: 30px;
}

.pages li a{
    text-decoration: none;
    color: rgb(231, 221, 221);
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 4px;
    
}

.pages li a:hover {
    color:rgb(91, 186, 230) ;
}


.cards-container {

    padding: 60px 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.card {
    background-color: rgb(248, 246, 245);
    width: 280px;
    padding: 25px 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease;
     box-shadow: 0.35s ease;
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: 0 18px 40px rgba(63, 157, 200, 0.478);
}

.card img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid rgb(123, 205, 243) ;
    margin-bottom: 18px;
}

.card h2 {
    font-size: 22px;
    margin-bottom: 6px;
    font-weight: bold;
}

.role {
    font-size: 18px;
    font-weight: 600;
    color: rgb(123, 205, 243) ;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    color: rgb(61, 79, 82);
    
}
